<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="payal.cluebix.www.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_cut"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.darsh.multipleimageselect.activities.AlbumSelectActivity"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Otp_varify"
            android:parentActivityName=".Login"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Update_profile"
            android:parentActivityName=".CenterActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".GuestActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".My_products"
            android:label="My Products"
            android:theme="@style/AppThemes2" />
        <activity
            android:name=".ProductDetail"
            android:label="Detail"
            android:parentActivityName=".CenterActivity" />
        <activity
            android:name=".Product_My_Detail"
            android:label="@string/ProductDetail"
            android:parentActivityName=".My_products" />
        <activity
            android:name=".Quotation_list"
            android:label="All Quotations"
            android:theme="@style/AppThemes2" />

        <!--
            <service android:name=".Handlers.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Handlers.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        -->


        <!--
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        -->
        <activity
            android:name=".Quotation_items_list"
            android:label="Invoice">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Add_New_product"
            android:configChanges="orientation|screenSize"
            android:label="New Product"
            android:parentActivityName=".My_products" />
        <activity
            android:name=".Unit_list"
            android:label="Unit list"
            android:parentActivityName=".Add_New_product" />
        <activity
            android:name=".Company_list"
            android:label="Company list"
            android:parentActivityName=".Add_New_product" />
        <activity
            android:name=".Colors_list"
            android:label="Color list"
            android:parentActivityName=".Add_New_product" />
        <activity
            android:name=".Category_list"
            android:label="Category list"
            android:parentActivityName=".Add_New_product" />
        <activity
            android:name=".CenterActivity"
            android:clearTaskOnLaunch="true"
            android:label="MultiVendor"
            android:launchMode="singleTask"
            android:theme="@style/AppThemes2" />
        <activity
            android:name=".GuestCart"
            android:parentActivityName=".GuestActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".FilterResultActivity"
            android:theme="@style/AppThemeNoActionBar"
            ></activity>
    </application>

</manifest>